<!--Jinja2 html içine python kodunu yazabilmemize yarayan bir templating engine.-->
<!--Jinja2 ile temel bir html sayfası oluşturup diğer sayfalarda da ortak olarak kullanabileceğimiz araçları tek bir yerde toplayabiliyoruz. -->
<!--Örneğin navigasyon barı ve sayfa sonundaki sosyal medyaya yönlendiren araçlar gibi. -->
<!--Bu araçlar tek bir dosyada toplanmış olduğundan değişiklik yapmak istediğimizde, ,
her sayfada tek tek bu değişikliği yazmak yerine kolayca tek bir yerden değiştirebiliyoruz.-->
<!--Bu base.html sayfası parent oluyor ve biz bunu child sayfalarda kullanabiliyoruz.-->
<!--Bir nevi bütün sitenin iskeletini oluşturuyoruz.-->

<!DOCTYPE html>
<html>
<head>
<title>My Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./static/w3Template.css">
</head>

<!-- dark-light modunu body'nin class elementinden değiştiriyorum, bu bilgiyi cookie'den alıyorum -->
<body class="{{ 'w3-white' if request.cookies.get('theme') == 'w3-white.TfZOHrNrjfzqp9fOY3iwOFhoOgI' else 'w3-black' }}">

<!--hangi sayfanın aktif olduğunu nav bar'da görebilmek için aşağıdaki-->
<!--kodu kullandım. Aynı zamanda her a tag'inde de bir jinja2 ile class ismi -->
<!--ekleyip çıkartabildiğim bir kod yazdım ki navbarda hangi sayfada olduğum
belli olsun.-->
{% set active_page = active_page|default('index') -%}

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center {{ 'w3-white' if request.cookies.get('theme') == 'w3-white.TfZOHrNrjfzqp9fOY3iwOFhoOgI' else 'w3-black' }}">
  <br>
<!-- user giriş yapmışsa session'da bunu kontrol ederek aşağıdaki a elemanını gösteriyorum -->
  <a href="{{ url_for('Index') }}" class="w3-bar-item w3-button w3-padding-large" style="{{ 'visibility: visible' if session['username'] else 'visibility: hidden' }}" >
    <i class="fa fa-user w3-xxlarge"></i>
    <p>HELLO
      {% if session["username"] %}
      {{ session["username"].upper() }}
      {% endif %}
    </p>
  </a>

  <a href="{{ url_for('Index') }}" class="w3-bar-item w3-button w3-padding-large {{ 'w3-black' if active_page == 'index' else 'w3-hover-black' }}">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>

<!--  Eğer anasayfadaysam about kısmına yönlendirsin, değilsem anasayfaya yönlendirsin-->
  <a href="{{ '#about' if active_page == 'index' else url_for('Index') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-info w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>

  <a href="{{ url_for('Galery') }}" class="w3-bar-item w3-button w3-padding-large {{ 'w3-black' if active_page == 'galery' else 'w3-hover-black' }}">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>PROJECTS</p>
  </a>
  <a href="{{ url_for('Contact') }}" class="w3-bar-item w3-button w3-padding-large {{ 'w3-black' if active_page == 'contact' else 'w3-hover-black' }}">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>

<!-- eğer login yapılmışsa logout, logout'sa login yap sayfası görünsün -->
  {% if session["username"] %}
  <a href="{{ url_for('Logout') }}" class="w3-bar-item w3-button w3-padding-large {{ 'w3-black' if active_page == 'login' else 'w3-hover-black' }}">
    <i class="fa fa-sign-out w3-xxlarge"></i>
    <p>LOGOUT</p>
  </a>
  {% else %}
  <a href="{{ url_for('Login') }}" class="w3-bar-item w3-button w3-padding-large {{ 'w3-black' if active_page == 'login' else 'w3-hover-black' }}">
    <i class="fa fa-sign-in w3-xxlarge"></i>
    <p>LOGIN</p>
  </a>
  {% endif %}

<!-- temayı değiştirdiğim buton -->
  <a href="{{ url_for('toggle_theme', current_page=request.path) }}" class="w3-bar-item w3-button w3-padding-large">
    {% if request.cookies.get('theme') == 'w3-white' %}
    <i class="fa fa-toggle-on w3-xxlarge"></i>
    {% else %}
    <i class="fa fa-toggle-off w3-xxlarge"></i>
    {% endif %}
    <p>Dark/Light</p>
  </a>

</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="{{ url_for('Index') }}" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="{{ '#about' if active_page == 'index' else url_for('Index') }}" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="{{ url_for('Galery') }}" class="w3-bar-item w3-button" style="width:25% !important">PROJECTS</a>
    <a href="{{ url_for('Contact') }}" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
    <a href="{{ url_for('Login') }}" class="w3-bar-item w3-button" style="width:25% !important">LOGİN</a>
    <a href="{{ url_for('toggle_theme', current_page=request.path) }}" class="w3-bar-item w3-button" style="width:25% !important">DARK/LIGHT</a>
  </div>
</div>

<div class="w3-padding-large" id="main">

<!--  her sayfaya özel olan content'in nereye geleceğini jinja2'ye bu şeklide anlatıyoruz.-->
  {% block body_content %}

  {% endblock %}

  <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
